body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    background-color: #02010a;
}

.contenedor {
    max-width: 900px; 
}

header {
    background-color: #5b7989;
    padding: 10px;
    color: white;    
    border-radius: 10px 10px 0px 0px;       
}

header h1 {    
    text-shadow: 2px 2px 2px #02010a;    
}

header {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

a {   
    color: white; 
    padding: 10px;   
}

.link_actual {    
    text-decoration-line: none;
}

footer {
    border-radius: 0px 0px 10px 10px;
} 

@media (max-width:900px){
    body {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
    }

    header {
        justify-content:center;        
    } 

    
    h1 {
        text-align: center;
    }
}