body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}

header {
    background-color: #5b7989;
    padding: 10px;
    color: white;
    /* float: left; */
    border-radius: 10px 10px 0px 0px;       
}

header h1 {    
    text-shadow: 2px 2px 2px #02010a;    
}

.contenedor {
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}

.link_actual {
    text-decoration: none;
}

footer {
    border-radius: 0px 0px 10px 10px;
} 