@font-face {
	font-family: FuenteDancing;
	src:url(../fuentes/DancingScript-Regular.ttf);
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #02010a;
    font-family: FuenteDancing;  
}

.contenedor {
   max-width: 900px;
   margin: auto;
   display:flex;
   flex-flow: row wrap; 
}

header {
    width: 100%;
    padding: 20px;
    background-color: #5b7989;    
    border-radius: 10px 10px 0px 0px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    animation-name: header-animacion;
    animation-duration: 2s;  
}

@keyframes header-animacion {
	0% {
        margin-top: 150%;
	}
	60% {
        margin-top: -5%;
	}
	100% {
		margin-top: 0%;
	}
}


header h1 {
    color: white;
    text-shadow: 2px 2px 2px #02010a;
}

header nav a {
    color:white;
    padding-left: 20px;
}

.link_actual {    
    text-decoration-line: none;
}

section img {
    box-shadow:2px 2px 2px#02010a; 
}

figcaption h3 {
    text-align: center;	
    text-decoration-line:underline;
    color:black;
}

.seccionPrincipal {
    width: 100%;
    background-color:#82c3a6;
}

#imagenPrincipal {
    width: 80%;
    margin: 2% auto;
    display: block;    
}

.seccionCentral {   
    width: 100%;
    background-color: #d5c75f;
    display:flex;
    flex-flow: wrap;
    justify-content: space-around;
    align-items: center;    
}

.seccionCentral div{
    padding: 3%;
    width: 30%;
}

.seccionCentral img{
    width: 100%;    
}

.seccionCentral div:nth-child(even){
    filter: grayscale(100%);
}

.seccionCentral div:nth-child(1){
    filter:blur(10px);
}

.seccionCentral div:nth-child(3){
    filter: sepia(90%);
}

.seccionSecundaria {
    width: 100%;
    background-color: #d5c75f;
    border: solid 1px black;
    display:flex;
    flex-flow: row nowrap;    
    justify-content: space-around;
    align-items: center;    
}

.seccionSecundaria div {    
    padding:2%;
}

.seccionSecundaria div img {
    width: 80%;    
    margin: 2% auto;
    display: block;    
}

#imagenSecundaria1:hover, #imagenSecundaria2:hover {
    box-shadow: 2px 2px 2px #82c3a6;
}

#imagenSecundaria1:hover{
    transform: rotate(10deg);
}

#imagenSecundaria2:hover{
    transform: translate(20px ,-5px);
}    

footer {
    width:100%;    
    background-color: #C6d5c5;
    border-radius: 0px 0px 10px 10px;
    display:flex;
    flex-wrap: row wrap;
    justify-content: space-around;    
}

footer div{    
    padding:2%;    
    word-wrap: break-word;
    flex-basis: 25%;    
}

footer a {    
    color: black;
    font-weight: bold;
}

.logos img{
    padding-right: 2px;
    vertical-align: top;
    width: 20px;   
}

@media screen and (max-width: 900px) {
    .contenedor {
        flex-direction: column;
    }

    header {
        flex-direction: column;                
    }

    header h1 {
        padding-bottom: 10px;
        text-align: center;
    }

    .seccionSecundaria , .seccionCentral{                
        flex-direction: column;
    }

    .seccionCentral div{        
        width: 100%;
    }

    footer {
        flex-direction: column;        
    }

}